.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
    min-width: 100vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    grid-row: 1 / -1;
}

.sidebar-section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    padding-left: 1rem;
    padding-right: rem;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main {
    grid-column: 2/-1;
    grid-row: 2/-1;
}

#dash-img {
    width: max(15px, 2rem);
}